<section class="section">
  <div class="container-profile-normal">
    <div class="container-info-left-normal">
      <div class="info-left-normal">

        <div class="avatar-normal">
          <img src="/{{lcuser.avatar}}" alt="error">
        </div>
        <div class="username-normal">
          <h3>{{lcuser.username}}</h3>
        </div>

      </div>
    </div>

    <div class="info-right-normal">

      <div class="info-normal">
        <div class="form-group">
          <label for="fullname" class="form-label">Name</label>
          <h3 class="name">{{lcuser.username}}</h3>
        </div>

        <div class="form-group">
          <label for="email" class="form-label">Email</label>
          <h3 class="email">{{lcuser.email}}</h3>
        </div>

        <div class="form-group">
          <label for="address" class="form-label">address</label>
          <h3 class="address">{{lcuser.address}}</h3>
        </div>


        <div class="form-group changepass">
          <label for="address" class="form-label">password</label>
          <div class="password-btn">
            <a href="/account/profile/changepass">change password</a>
          </div>
        </div>

        <div class="edit-btn">
          <a href="/account/profile/edit">edit profile</a>
        </div>


      </div>
    </div>
  </div>

</section>