<div class="container-home">
    <div class="home-page">

        {{!-- background-top --}}
        <div class="background-header-slider">

            <div class="container-bg-im">
                <div class="background-image" style="background-image: url(/img/bg-home/wallpaper.jpg);">
                </div>
                <div class="background-image"style="background-image: url(/img/bg-home/wallpaper2.jpg);" >
                </div>
                <div class="background-image" style="background-image: url(/img/bg-home/wallpaper3.jpg);">
                </div>
                <div class="background-image" style="background-image: url(/img/bg-home/wallpaper4.jpg);">
                </div>
            </div>
            <div class="container-box">

                <div class="box-item">
                    <div class="icon">
                        <i class="fa-solid fa-book"></i>
                    </div>
                    <div class="content">
                        <h3>Bài viết</h3>
                        <a href="#posts">Xem thêm</a>
                    </div>
                </div>
                <div class="box-item">
                    <div class="icon">
                        <i class="fa-solid fa-users"></i>
                    </div>
                    <div class="content">
                        <h3>Bài viết xem nhiều</h3>
                        <a href="#mostview">Xem thêm</a>
                    </div>
                </div>
                <div class="box-item">
                    <div class="icon">
                        <i class="fa-solid fa-location-arrow"></i>
                    </div>
                    <div class="content">
                        <h3>Địa chỉ liên hệ</h3>
                        <a href="#footer">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
        {{!-- categorys --}}
        <div class="container-cate">
            <div class="categorys">
                <ul class="list-category">
                    
                    <h3>Danh mục: </h3>

                    <li class="item"><a href="/" class="icon-home-cate"><i class="fa-solid fa-house"></i></a></li>

                    <li class="item"><div class="icon-home-bars"><i class="fa-solid fa-bars"></i></div></li>
                    
                    <div class="container-li">
                        
                         {{#each categorys}}
                        <li class="item li-child"> <a href="/c/{{this.slug}}/{{this._id}}">{{this.name}}</a> </li>
                        {{/each}}
                         
                    </div>

                </ul>
            </div>
        </div>
        {{!-- recent post --}}
        <section class="section " id="posts">
            <div class="section-title">
                <h2>Recent Posts</h2>
            </div>
            <div class="container-recent-post">
                {{#each posts}}
                <div class="post-box">
                    <div class="post-image">
                        <a href="/post/{{this.slug}}">
                            <img src="/{{this.thumbnail}}" alt="">
                        </a>
                    </div>

                    <div class="postster">
                        <h3 class="postster-name">
                            {{this.user.username}}
                        </h3>

                        <span class="date-create">
                            Create At: {{this.date}}
                        </span>

                    </div>
                    <div class="post-title">
                        <a href="/post/{{this.slug}}">{{this.title}}</a>
                    </div>
                </div>
                {{/each}}
            </div>

        </section>
        <section class="section-body" id="mostview">
            <div class="container-views">
                <div class="box-title">
                    <h3 class="title">Most views</h3>
                </div>
                {{#each postmostviews}}
                <div class="box-post">
                    <div class="image">
                        <a href="/post/{{this.slug}}">
                            <img src="/{{this.thumbnail}}" alt="">
                        </a>
                    </div>
                    <div class="content">
                        <h4 class="infor"> 

                            <span class="views">{{this.views}} views</span>
                
                        </h4>
                        <a class="title-link" href="/post/{{this.slug}}">
                            <h3 class="title">
                                {{this.title}}
                            </h3>
                        </a>
                        <a class="description-link" href="/post/{{this.slug}}">
                            <p class="description">
                               {{this.description}}
                            </p>
                        </a>
                    </div>
                </div>
                {{/each}}
            </div>
        </section>
    </div>
</div>

